footer {
  text-transform: uppercase;
}
footer .container {
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  padding-top: 20px;
  padding-bottom: 20px;
}
footer .header {
  display: block;
  font-weight: bold;
}
footer .col > a:not(:hover) {
  opacity: 0.7;
}
footer .col > a {
  display: block;
  color: #000;
  font-size: 12px;
}
